<mat-toolbar class="header">
  <mat-toolbar-row class="brand-row">
    <mat-icon>cake</mat-icon>
    <span class="brand-text">
      <span class="brand">{{ title }}</span>
      <span class="tagline">Pães, doces e cafés artesanais</span>
    </span>
    <button
      mat-icon-button
      class="cart-button"
      routerLink="/perfil"
      aria-label="Ver minha cestinha"
      [matBadge]="cart.itemCount()"
      [matBadgeHidden]="cart.itemCount() === 0"
      matBadgeColor="accent"
    >
      <mat-icon>shopping_basket</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="nav-row">
    <app-nav />
  </mat-toolbar-row>
</mat-toolbar>
